---
import { about } from "../../contants/info";
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout title="About" id="about" icon="mdi:info-outline">
  <p class="text-gray-300 md:text-lg">{about.description}</p>
</SectionLayout>
