---
import { PROJECTS } from "../../contants/projects";
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout title="Portfolio" id="portfolio" icon="mdi:info-outline">
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-10">
    {
      PROJECTS.map((project) => (
        <a
          class="flex flex-col gap-1 hover:bg-secondary/10 rounded-xl h-fit"
          href={`/project/${project.id}`}
        >
          <figure class="rounded-xl overflow-hidden aspect-video h-2/6">
            <img src={project.mainPhoto} />
          </figure>
          <h3 class="ms-2 py-1 text-lg text-gray-200">{project.title}</h3>
        </a>
      ))
    }
  </div>
</SectionLayout>
