---
const actualYear = new Date().getFullYear();
---

<footer class="border-t border-t-zinc-200 py-4">
    <p class="text-center text-zinc-500">
        Footer without copyright | {actualYear}
    </p>
</footer>
