---
import { INFO } from "../../info";
import ContactInfoLink from "./ContactIfoLink.astro";
import { Copy, Mail } from "@lucide/astro";
import { fade } from "astro:transitions";
---

<section id="home" class="flex py-10 md:py-20">
    <div class="w-full px-8 fade-element">
        <div
            class="flex flex-col-reverse md:flex-row justify-between gap-2 md:gap-10"
        >
            <div class="md:flex-3/4">
                <h1
                    class="text-zinc-900 font-semibold text-3xl md:text-5xl mb-5"
                >
                    {INFO.hello}
                </h1>
                <p class="text-zinc-600 md:text-lg leading-relaxed">
                    {INFO.heroDescriptions}
                </p>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-7">
                    <a
                        href={`mailto:${INFO.email}`}
                        target="_blank"
                        role="button"
                        class="flex w-full font-bold items-center justify-center bg-zinc-900 hover:bg-zinc-700 text-white px-5 py-4 rounded-2xl hover:scale-105 transition-all cursor-pointer space-x-3"
                    >
                        <Mail />
                        <span>Contact me</span>
                    </a>

                    <div class="relative w-full">
                        <button
                            id="email-contact-link"
                            data-email={INFO.email}
                            class="flex font-bold w-full items-center justify-center border border-zinc-700 hover:opacity-70 text-zinc-700 px-5 py-4 rounded-2xl hover:scale-105 transition-all cursor-pointer space-x-3"
                        >
                            <Copy />
                            <span>Copy email</span>
                        </button>

                        <div
                            id="copy-success-message"
                            class="absolute left-1/2 -translate-x-1/2 bottom-full mb-2 bg-zinc-900 text-white text-center text-nowrap rounded-2xl px-4 py-2 text-sm font-normal opacity-0 invisible transition-all duration-300"
                            role="alert"
                        >
                            <div class="text-sm font-normal">Email copied!</div>
                        </div>
                    </div>
                </div>
            </div>

            <img
                class="rounded-full md:flex-1/4 h-60 mx-auto aspect-square bg-gray-600"
                src={"photo.jpeg"}
                alt={"ruben gutierrez"}
            />
        </div>
    </div>
</section>

<style>
    @keyframes pop-up {
        0% {
            transform: translate(0, 20px);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        50% {
            transform: translate(0, -20px);
            opacity: 1;
        }
        100% {
            transform: translate(0, -40px);
            opacity: 0;
        }
    }

    .animate-pop-up {
        animation: pop-up 2s ease-out forwards;
    }
</style>

<script is:inline>
    const emailLink = document.getElementById("email-contact-link");
    const successMessage = document.getElementById("copy-success-message");

    if (emailLink && successMessage) {
        emailLink.addEventListener("click", async () => {
            const email = emailLink.dataset.email;
            try {
                await navigator.clipboard.writeText(email);

                successMessage.classList.remove(
                    "animate-pop-up",
                    "invisible",
                    "opacity-0",
                );
                void successMessage.offsetWidth;

                successMessage.classList.add("animate-pop-up");

                setTimeout(() => {
                    successMessage.classList.add("invisible", "opacity-0");
                    successMessage.classList.remove("animate-pop-up");
                }, 2000);
            } catch (err) {
                console.error("Failed to copy email:", err);
            }
        });
    }
</script>
