---
import MainLayout from "../layouts/MainLayout.astro";
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
import Portfolio from "../components/sections/Portfolio.astro";
import Header from "../components/ui/header.astro";
---

<Header />

<MainLayout>
  <div class="flex flex-col gap-10">
    <About />
    <Experience />
    <Portfolio />
  </div>
</MainLayout>
