---
import "./styles.css";
import Header from "./components/Header.astro";
import Hero from "./components/Hero.astro";
import WorkExperience from "./components/WorkExperience.astro";
import PersonalProjects from "./components/PersonalProjects.astro";
import Footer from "./components/Footer.astro";
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Ruben Gutierrez</title>
    </head>
    <body>
        <Header />
        <main>
            <Hero />
            <WorkExperience />
            <PersonalProjects />
        </main>
        <Footer />
    </body>
</html>
