---
import "@fontsource/poppins";
import Content from "../components/ui/Content.astro";
import Header from "../components/ui/header.astro";
import ProfileCard from "../components/ui/ProfileCard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ruben Gutierrez PortFolio</title>
  </head>
  <body>
    <main
      class="w-full max-w-6xl mx-auto px-5 md:px-10 py-16 flex flex-col lg:flex-row gap-4"
    >
      <ProfileCard />
      <Content>
        <slot />
      </Content>
    </main>
  </body>
</html>

<style>
  html,
  body {
    min-height: 100dvh;
    color: #fff;
  }

  body {
    background-color: #151312;
    min-width: 320px;
    font-family: "Poppins", sans-serif;
  }
  
</style>
