---
import { Icon } from "astro-icon/components";

const { title, icon } = Astro.props;
---



<>
  <div class="title relative flex items-center gap-1 mb-10">
    {icon && <Icon id="icon" name={icon} class="text-secondary" size={30} />}
    <h2 class="text-3xl xl:text-4xl">{title}</h2>
  </div>
  <slot />
</>

<style>
  .title::after {
    content: "";
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    width: 6rem;
    height: 8px;
    background-color: var(--color-primary);
    border-radius: 3px;
  }
</style>
