---
import { Icon } from "astro-icon/components";
import { PROJECT_TYPE } from "../../interfaces";

const { links } = Astro.props;

const getIcon = (iconType: PROJECT_TYPE) => {
  switch (iconType) {
    case PROJECT_TYPE.PREVIEW:
      return "mdi:link-variant"
    case PROJECT_TYPE.REPO:
      return "mdi:github"

    default:
      break;
  }
}
---

<div class="flex flex-row flex-wrap gap-2">
  {
    links.map((repo) => (
      <a
        type="button"
        class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-primary bg-gray-500/20 hover:bg-gray-400/20 "
        href={repo.url}
        target="_blank"
      >
        <Icon name={getIcon(repo.type)} size="22" />
        {repo.title}
      </a>
    ))
  }
</div>
