---
import type { JSX } from "astro/jsx-runtime";
import { Icon } from "astro-icon/components";

const CONTANT_INFO: {
  icon: string;
  text: JSX.Element | string;
  href: string;
}[] = [
  {
    icon: "mdi:email",
    text: "rubdeivis@gmail.com",
    href: "mailto:rubdeivis@gmail.com",
  },
  {
    icon: "mdi:linkedin",
    text: "rubengutierrezc",
    href: "https://www.linkedin.com/in/rubengutierrezc/"
  },
  {
    icon: "mdi:phone",
    text: "+584120234481",
    href: "https://wa.me/584120234481"
  },
  // {
  //   icon: "mdi:location",
  //   label: "location",
  //   text: "Lara, Venezuela",
  // },
  {
    icon: "mdi:document",
    text: "CV",
    href: "https://drive.google.com/file/d/1YaYWnMHZ3g1xhToZIp3g3nnVXuLjF5-m/view?usp=sharing"
  }
];
---

<aside
  class="flex flex-col rounded-xl bg-background border border-secondary/30 p-4 w-full lg:w-[21%] xl:sticky h-fit top-2 shadow-xl"
>
  <div class="flex flex-col gap-3 flex-1">
    <img
      class="rounded-full w-32 mx-auto aspect-square"
      src="/profile.jpeg"
      alt="profile picture"
      width="128"
    />
    <p class="text-center font-bold text-xl">Ruben Gutierrez</p>
  </div>
  <div class="grid  sm:grid-cols-2 lg:grid-cols-1 flex-wrap gap-6 mt-6 border-t border-t-gray-400 pt-4">
    {
      CONTANT_INFO.map((info) => (
        <a href={info.href} rel="noopener noreferrer" target="_blank" class="flex gap-2 items-center overflow-hidden hover:bg-gray-500/20 rounded">
          <div class="rounded bg-gray-500/20 p-2">
            <Icon name={info.icon} size={22} class="text-primary" />
          </div>
          <div class="flex flex-col text-ellipsis overflow-hidden">
            <div class="text-sm text-ellipsis overflow-hidden" set:html={info.text} />
          </div>
        </a>
      ))
    }
  </div>
</aside>
